
body{
    font-family: 'Varela Round', sans-serif;
    background-color: darkslategrey;
    text-align: center;
    color: azure;
}

#crazy{
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    margin-bottom: 1rem;
}
